input{
    width: 100%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    border: 0.5px solid transparent;    
    outline : none;
    text-indent: 8px;
    background-color: #3C444A;
    color: #ffffff;  

}
input:focus{
    border: 0.5px solid rgb(137, 147, 155)
    
}

input::placeholder{
    color: #fdd;
}

.input-error{
    font-size: 12px;
    color: #ff5757;
    width: 100%; 
    visibility: hidden; 
    margin-top: -3px;       
    height: 25px;

    
}
.input-error-visible{
    transition: all .2s;
    visibility: visible;
    transform: translateY(2px);

}

span{
    font-size: 12px;
    color: #ff5757;
    width: 100%; 
    margin-top: -3px;       
    height: 25px;

}