.button{
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border: 0.5px solid transparent;        
    
    color: #ffffff;  
    background-color: #433A58;
    height: 40px;
    font-weight: bold;
}

.button:hover:enabled{
    border: .5px solid #6C6AAD;
    transition: all .2s;
    cursor: pointer;
}

.button:active{
    border: .5px solid #433A58;
    background-color: #6C6AAD;
    transition: all .2s;
    cursor: pointer;
}

.button-loading{
    cursor: not-allowed;


}